body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
}

.slot-machine {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.slot {
    width: 300px; /* Tamanho fixo de 300px */
    height: 300px; /* Tamanho fixo de 300px */
    margin: 0 10px; /* Espaçamento entre as imagens */
    object-fit: cover; /* Garante que a imagem se ajuste ao tamanho do slot */
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.message {
    font-size: 18px;
    color: green;
    font-weight: bold;
    margin-top: 20px;
}
